.navbar {
  @include media-breakpoint-down(md) {
    padding: 1rem 0.25rem;
  }
  top: -123px;
  transition: top 0.2s ease-in-out;
  &.scroll {
    top: 0px;
  }
}

.navbar-toggler {
  border-color: $black;
  background-color: $dark;
}

.nav-link {
  color: $black;
  font-weight: $font-weight-bold;
  &:hover {
    color: $cyan-800;
  }
}
