// Color system
$white: #fff;
$gray-100: #e6e6e8;
$gray-200: #cfced2;
$gray-300: #b6b5bb;
$gray-400: #9f9ea5;
$gray-500: #87858e;
$gray-600: #6e6c77;
$gray-700: #575561;
$gray-800: #3e3c4a;
$gray-900: #272434;
$black: #100d1f;

$cyan: #88dcdd;

// Options
$enable-negative-margins: true;
$enable-shadows: true;

// Spacing
$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 2,
  5: $spacer * 4,
  6: $spacer * 8,
);

// Components
$border-width: 2px;
$border-radius: 0rem;
$border-radius-sm: 0rem;
$border-radius-lg: 0rem;
$border-radius-xl: 0rem;
$border-radius-2xl: 0rem;

// Grid columns
$grid-gutter-width: 2rem;

// Cards
$card-spacer-y: ($spacer * 4);
$card-spacer-x: ($spacer * 4);
$card-box-shadow: -8px 8px 0px $black;
$card-border-width: 4px;
$card-border-color: $black;

// Typography
$font-family-sans-serif: "Hack", -apple-system, "Segoe UI", Roboto,
  "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-monospace: "Hack", SFMono-Regular, Menlo, Monaco, Consolas,
  "Liberation Mono", "Courier New", monospace;
$headings-font-family: "Euclid Square", -apple-system, "Segoe UI", Roboto,
  "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$headings-font-weight: bold;
$font-size-base: 1rem;
$h1-font-size: $font-size-base * 4;
$font-weight-lighter: lighter;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-bolder: bolder;

// Links
$link-color: $cyan;

// Buttons

$btn-font-weight: $font-weight-bold;
$btn-padding-y: 0.625rem;
$btn-padding-x: 1.25rem;
$btn-border-width: $border-width;

$btn-box-shadow: -4px 4px 0 $black;

// Navs
$nav-link-padding-y: 1rem;
$nav-link-padding-x: 2rem;
$nav-link-font-weight: $font-weight-bold;

// Navbar
$navbar-padding-y: $spacer * 2;
$navbar-nav-link-padding-x: 1rem;
$navbar-toggler-padding-y: 0.25rem;
$navbar-toggler-padding-x: 0.25rem;
$navbar-light-toggler-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='#{$cyan}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
