.card-body {
  @include media-breakpoint-down(md) {
    padding: 2rem;
  }
}

.card-window {
  border-top-width: 48px;
}

.text-bg-dark {
  .text-info {
    color: $darkmode-cyan !important;
  }
  a {
    color: $darkmode-cyan !important;
  }
}

.bg-darkmode-info {
  background-color: $darkmode-cyan;
}

.bg-darkmode-info-light {
  background-color: $darkmode-cyan-light;
}
